.c-margin-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}
.c-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-search-input {
    margin-right:10px;
    width: 20%;
    min-width: 150px;
}
.c-border-radius {
    border-radius: 10px;
}
#resultBlock {
    width:70%;
    margin: auto;
}
a {
    font-size: 20px;
}
body {
    background-color: #bbb;
}
.c-basic-text {
    font-size: 16px;
}
.c-changelog {
    float: right;
    padding-right: 20px;
}